Project 2/parsers/__pycache__/read_fasta.cpython-39.pyc
Project 2/parsers/__pycache__/read_fastq.cpython-39.pyc
Project 2/time_analysis/test_files/m_10.fastq
Project 2/time_analysis/test_files/n_1000000.fasta
Project 2/time_analysis/parsers/__pycache__/read_fastq.cpython-39.pyc
Project 2/time_analysis/parsers/__pycache__/read_fasta.cpython-39.pyc
Project 2/time_analysis/__pycache__/search_st.cpython-39.pyc
